{% extends 'admin/layout.html' %}
{% block content %}

    <!-- Main content -->
    <section class="content">

      <div class="row">
        <!-- Left col -->
        <section class="col-lg-6 connectedSortable">
          <!-- quick email widget -->
          <div class="box box-info">
            <div class="box-header">
              <i class="fa fa-envelope"></i>

              <h3 class="box-title">Edit Startup</h3>
              <!-- /. tools -->
            </div>
            <div class="box-body">
              <form method="post" action="{{ url_for('category_update', id=category.id) }}">

                <div class="form-group">
                  <input type="text" class="form-control" name="name" placeholder="Industry">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="slug" placeholder="Slug">
                </div>

                <div class="box-footer clearfix">
                    <button class="pull-right btn btn-primary" type="submit">Send
                    <i class="fa fa-arrow-circle-right"></i></button>
                </div>
              </form>
            </div>

          </div>

        </section>
        <!-- /.Left col -->
        <!-- right col (We are only adding the ID to make the widgets sortable)-->
        <section class="col-lg-6 connectedSortable">

            <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">Recently Added Industries</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table class="table table-bordered">
                <tbody>
                {% for category in categories %}
                <tr>
                  <th style="width: 10px">#</th>
                  <th>Name</th>
                  <th>Slug</th>
                </tr>
                <tr>
                  <td>{{ category.id }}</td>
                  <td>{{ category.name }}</td>
                  <td>{{ category.slug }}</td>
                  <td>

                      <div>
                      <a href="{{ url_for('edit', id=category.id) }}" class="pull-right btn btn-primary">
                          Edit<i class="fa fa-edit"></i>

                      </a>
                  </div>
                  </td>
                    <td><div>
                      <a href="{{ url_for('delete', id=category.id) }}" class="pull-right btn btn-primary">
                          Delete<i class="fa fa-trash-o"></i>
                      </a>

                  </div>
                  </td>
                </tr>
                {% endfor %}

              </tbody></table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
              <ul class="pagination pagination-sm no-margin pull-right">
                <li><a href="#">«</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">»</a></li>
              </ul>
            </div>
          </div>



        </section>
        <!-- right col -->
      </div>
      <!-- /.row (main row) -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock %}