{% extends 'base.html' %}
{%  block title %}
    <title>FAQs</title>
{% endblock %}
{% block content %}
        <!-- MAIN -->
        <main class="login">
            <div class="container">
                <section class="text-block mb-90">
                    <h4 class="text-center"><span class="color-theme">Hey!</span> Thanks for stopping by!</h4>
                </section>
                <section class="image text-center mb-50">
                    <img src="fonts/eiefy_icons/Login.svg" alt="">
                    <p>This is a community where failed startup owners come to tell their failure stories and the mistakes they committed, so that future entrepreneurs can learn from them and don’t make the same errors.</p>
                </section>

            </div>
        </main>


        <!-- MAIN -->
        <main class="knowledge-base-single-topic" data-spy="scroll" data-target="#myScrollspy">
            <div class="container">
                <!--<section class="mb-40">
                    <ul class="breadcrumbs">
                        <li><a href="#">Knowledge base</a></li>
                        <li>Buying and Item Support</li>
                    </ul>
                </section>-->
                <section class="features left-col row">
                    <div class="col-md-4" id="myScrollspy">
                        <div class="features-info">
                            <h6 class="border-decor">FAQs</h6>
                            <table class="table">
                                <tr>
                                    <td><a href="#" id="#faq_one">Why are we doing this?</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#" id="#faq_two">How genuine are these stories?</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#">Buyer’s Guide</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#">Organizations </a></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-8" id="faq_one">
                        <div class="find-purchase mb-40">
                            <h5>Why are we doing this?</h5>
                            <ol>
                                <li>Log into your Envato Market account.</li>
                                <li>Hover the mouse over your username at the top of the screen.</li>
                                <li>Click ‘Downloads’ from the drop down menu.</li>
                                <li>Click ‘License certificate & purchase code’ (available as PDF or text file).</li>
                            </ol>
                        </div>
                    </div>
                    <div class="col-md-8" id="faq_two">
                        <div class="find-purchase mb-40">
                            <h5>How genuine are these stories?</h5>
                            <p class="font-16 mb-40">Here is an example of a PDF License certificate and purchase code:</p>
                        <img src="images/eiefy_0005_Knowledge_base-2.png" class="mb-40" alt="">
                        <p class="font-16 mb-40">Content ID is a popular digital fingerprinting system that content creators can use to easily identify and manage their copyrighted content on YouTube. Videos uploaded to YouTube are compared against audio and video files registered with Content ID by content owners.</p>
                        <div class="block-ask-message mb-70" id="faq_two">
                            <img src="images/icon-light.png" class="icon-light" alt="">
                            <p>If a plugin is asking for the purchase code, but the plugin came bundled with a theme, please refer to this article for more information.</p>
                        </div>
                        </div>
                    </div>
                </section>
            </div>
        </main>
{% endblock %}