{% extends 'base.html' %}
{% block content %}
    <main class="home">
            <div class="container">
                <section class="text-block mb-70">
                    <h4 class="text-center">A directory of Startups that failed in Africa.</h4>
                    <p class="text-center">Learn from the mistakes failed startups committed and avoid them.</p>
                </section>
                <a href="#" class="btn btn-small btn-center mb-60">Submit Startup <i class="arrow-right"></i></a>
                <ul class="list-inline list-menu navigation-isotope">
                    {% for category in categories %}
                    <li class="button"><a href="#">{{ category.name }}</a></li>
                    {% endfor %}
                </ul>

                <section class="text-block mb-60">
                    <h4 class="text-center"></h4>
                    <!--<p class="text-center"></p>-->
                </section>

                <section class="offers anim-scale row">
                    {% for q in autopsies %}
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <a href="{{ url_for('show_startup', id=q.id) }}">
                            <div class="hover"></div>
                            <img src="{{ url_for('static', filename='uploads/{}'.format(q.company_logo)) }}" alt="company logo" style="height: 50px; width: auto">
                            <span>{{ q.company_name }}</span>
                            <p><i><strong>{{ q.industry.name }}</strong></i></p>
                            <p>{{ q.description }}</p>
                        </a>
                    </div>
                    {% endfor %}
                </section>
            </div>
        </main>
{% endblock %}
