{% extends 'base.html' %}
{%  block title %}
    <title>Startup</title>
{% endblock %}

{% block content %}
       <main class="case-study">
            <div class="container">

                <section class="text-block text-left mb-60">
                    <div class="">
                        <div class="i-block border-decor-parent image-scale">
                            <div class="row">
                                <div class="col-sm-3 text-center">
                                    <img src="{{ url_for('static', filename='uploads/{}'.format(autopsy.company_logo)) }}" alt="" style="height:50px; width:auto">
                                </div>
                                <div class="col-md-6">
                                    <h4 class="border-decor">{{ autopsy.company_name }}</h4>
                                    <p>{{ autopsy.description | truncate (120) }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <!--
                <section class="row mb-40">
                    <div class="col-md-4 col-sm-4">
                        <div class="block-icon">
                            <img src="fonts/eiefy_icons/User_base.svg" alt="">
                            <div class="text-block">
                                <h4 class="text-center border-decor">Building User Base</h4>
                                <p class="text-center">High resoulution images are going to look beautiful on this site.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="block-icon">
                            <img src="fonts/eiefy_icons/Creative_Testing.svg" alt="">
                            <div class="text-block">
                                <h4 class="text-center border-decor">More Creative Testing</h4>
                                <p class="text-center">Each page is specially engineered and search-engine-optimized (SEO).</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="block-icon">
                            <img src="fonts/eiefy_icons/Segment.svg" alt="">
                            <div class="text-block">
                                <h4 class="text-center border-decor">Strategic Segment Hunting</h4>
                                <p class="text-center">Easy to understand documentation and video tutorials included.</p>
                            </div>
                        </div>
                    </div>
                </section>
                -->
                <div class="border-block mb-60"></div>
                <section class="features row">
                    <div class="col-md-4">
                        <div class="features-info">
                            <h6 class="border-decor">Company Info</h6>
                            <table class="table">
                                <tr>
                                    <td>Category</td>
                                    <td>{{ autopsy.industry.name }}</td>
                                </tr>
                                <tr>
                                    <td>Country</td>
                                    <td>{{ autopsy.country.name }}</td>
                                </tr>
                                <tr>
                                    <td>Amount Raised</td>
                                    <td>{{ autopsy.amount_raised }}</td>
                                </tr>
                                <tr>
                                    <td>Year Range</td>
                                    <td>{{ autopsy.year_range }}</td>
                                </tr>
                                <tr>
                                    <td>Founders</td>
                                    <td>{{ autopsy.founder_name }}</td>
                                </tr>
                            </table>
                            <a href="#" class="btn btn-gray btn-small">Visit Website</a>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <!--<h6>More case studies</h6>-->
                        <section class="row preview ">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <h5 class="description" >Why They Do</h5>
                                <p>{{ autopsy.description }}</p>
                                <!--<a href="#" class="url">sharehub.com</a>-->
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <h5 class="description">Why they failed</h5>
                                <p>{{ autopsy.why_they_failed }}</p>
                            </div>
                        </section>
                    </div>
                </section>
            </div>
        </main>
{% endblock %}