{% extends 'base.html' %}
{%  block title %}
    <title>Submit Startup</title>
{% endblock %}

{% block content %}
        <!-- MAIN -->
        <main class="login">
            <div class="container">
                <section class="text-block mb-90">
                    <h4 class="text-center">Let's have a <span class="color-theme">chat</span> with you!</h4>
                </section>
                <section class="image text-center mb-50">
                    <img src="fonts/eiefy_icons/Login.svg" alt="">
                    <p>At Qronicles, we tell startup failure stories and the mistakes, so that future entrepreneurs can learn from them and don’t make the same errors.</p>
                    <p class="text-center border-decor bd-center">Got one? Drop your <span>email</span> and we will be in touch in an hour! </p>
                </section>
                <section class="login-form text-center">

                    <form action="/subscribe" method="post" class="mb-40">
                        <div class="ipt-btn-block">
                            <input type="email" name="email" class="form-control" placeholder="Email Address" required>
                            <input type="submit" class="btn btn-small" value="Submit">
                        </div>
                    </form>
                </section>
            </div>
        </main>

{% endblock %}

